@model MigrationService.Models.Migrant

<h2>Удалить мигранта</h2>
<h4>Вы уверены, что хотите удалить @Model.FullName?</h4>
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="MigrantID" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
